@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Niramit:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13,110,253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10,88,202;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}
html,body 
{
    scroll-behavior: smooth;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Niramit', sans-serif;
    margin: 0;
}
header
{
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 150px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: white;
    background-color: white;
    box-shadow: 1px 1px 10px gray;

}
.container-main 
{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
.header-menu {
    display: flex;
    flex-direction: column;
}
.container-header {
    height: 150px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    font-size: 1.3rem;
}
ul {
    margin-block: 0;
}

ul.user {
    list-style: none;
    margin-bottom: 10px;
}
ul.user li {
    font-size: 1rem !important;
    list-style: none;
    display: inline;
    padding: 10px;
}

ul.menu {
    float: right;
    margin-block: 10px;
    list-style: none;
    margin-bottom: 0;
}
ul.menu li {
    list-style: none;
    display: inline;
    padding: 10px;
}
article.intro {
width: 90%;
margin: 20px auto;
min-height: 100vh;
}
article.section {
width: 90%;
margin: 20px auto;
min-height: 100vh;
}
article.alliance {
width: 90%;
margin: 20px auto;
min-height: 100vh;
}
.contact {
max-width: 400px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
margin: 70px auto;
}
.icon-contact {  
width: 80px;
height: 80px;
object-fit: cover;
}
.main-text {
font-weight: 500;
}

.sub-text {
font-weight: 300 !important;
}
header a {
color: black;
}
a {
transition: 0.5s;
color: blue;
text-decoration: none;
}
a:hover a::before {
bottom: 20px;
content: ' ';
position: absolute;
width: 120px;
height: 10px;
background-color: aqua;
}
a:hover {
color: red;
}
.container-product {
width: 90%;
min-height: 90vh;
display: grid;
grid-gap: 30px;
grid-template-columns:  1fr 1fr 1fr;
margin: auto;
}
.box-product {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
position: relative;
}
.shadow-box {
position: absolute;
background-color: rgba(255, 255, 255, 0.1);
width: 100%;
height: 100%;
z-index: 2;
}
.box-product > .img-profile > img {
width: 100%;
height: 300px;
object-fit: cover;
} 
.box-product > h3 {
text-align: center ;
margin-block-start: 0 !important;
margin-block-end: 0 !important;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
.box-product > h4 {
margin-block-start: 0 !important;
margin-block-end: 0 !important;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
.price {
color: red;
}
.short-text {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}
footer {
width: 100%;
height: 200px;
background-color: rgba(147, 221, 180,0.2);
margin: 0;
}
.img-title {
    width: 120px;
    object-fit: cover;
    height: 120px;
}
footer > .container-footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
min-height: 200px;
}
.margin-block-0 {
margin-block: 0 !important;
}
.container-shop-highlight {
padding-block-start: 50px;
width: fit-content;
margin: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 30px;
}
.facebook i {
    color: blue;
}
.line i {
    color: rgb(4, 109, 14);
}
.intragram i {
    color: rgb(233, 158, 18);
}
.tiktok i {
    color: rgb(5, 5, 5);
}
.container-contact-footer {
    padding: 10px;
}
.contact-footer {
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.contact-footer-address {

}
.contact-footer  {
    font-size: 2rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-highlight {
width: 200px;
height: 200px;
}
.pic-highlight{
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
}
.img-action {
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}
.img-action:hover {
transform: scale(1.1,1.1);        
}
.img-profile {
cursor: pointer;
overflow: hidden;
}
article.alliance > .container-alliance {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.partner {
    width: 100%;
    height: 300px;
    background-color: rgb(170, 170, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tabbar {
padding-block: 20px;
width: 90%;
height: 50px;
display: flex;
align-items: center;
margin: auto;
color: gray;
}
.container-shopping-product {
padding-block-end: 10px;
width: 90%;
height: 800px;
margin: auto;
display: grid;
grid-template-columns: 100px 1fr 700px;
grid-gap: 10px;
}
.container-shopping-product > .col-shopping-1 {
border-radius: 8px;
width: 100%;
height: 100%;
overflow: hidden;
}
.container-shopping-product > .col-shopping-1 > .list-preview {
width: 100px;
height: 100px;
background-color: black;
margin: 5px;
}
.container-shopping-product > .col-shopping-1 > .img-preview {
width: 100%;
height: 100%;
background-color: black;
margin: 5px;
}
.shopping-detail {
padding-inline: 20px;
}
.shopping-detail > h3{
margin-block: 0 !important;
color: green;
}
.shopping-detail > h2:nth-child(2){
}
.text-orange {
color: orange;

}
.form-control {
display: block;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: var(--bs-body-bg);
background-clip: padding-box;
border-radius: var(--bs-border-radius);
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
border: 1px solid silver;
outline: none;
}
.img-preview img {
width: 100%;
height: 100%;
object-fit: cover;
}
.btn-add-cart {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    background-color: orange;
    border: 0;
    outline: none;
    cursor: pointer;
}
.form-group {
margin-block-start: 23px;
}
.grid-3 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
article.shopping {
width: 90%;
margin: auto;

}
article.shopping > .tabbar-detail {
font-weight: 300 !important;
padding: 10px;
cursor: pointer;
width: 500px;
}
/* article.shopping > .tabbar-detail::before {
content: ' ';
position: absolute;
width: 90%;
bottom: 0;
height: 1px;
background-color: black;

} */
article.shopping > section.shopping-detail {
margin-bottom: 100px;
}
.img-partner {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.partner > * {
    color: aliceblue;
    text-shadow: 2px 2px rgb(136, 50, 0);
}
.logger-partner {
    overflow: hidden;
}
article.container-checkout-cart {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 20px;
    margin-block-end: 40px;
    padding: 10px;
    border: 1px solid silver;
}
.tabbar-checkout {
    width: 90%;
    margin: auto;
}
article.container-checkout-cart > .list-cart {
    width: 100%;
    height: fit-content;
}
article.container-checkout-cart > .checkout-form {
    width: 100%;
    height: 500px;
    position: relative;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
}

.table thead tr th {
    width: fit-content;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.table tbody tr td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.btn {
    transition: .5s;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.7;
}
.btn-checkout {
    background-color: orange;
    color: #000 !important;
}
.btn-checkout a {
    color: #000 !important;
}
.btn-back-shopping {
    background-color: rgb(10, 82, 236);
    color: white !important;
}
.btn-clear-order {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid silver;

}
.checkout-footer {
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
} 
ul.ul-list {
    position: fixed;
    display: none;
}
ul.ul-list li {
    display: block;
    padding: 0;
}
.header-menu-responsive {
    display: none;
}
.header-menu-responsive ul {

    list-style: none;
}
.header-menu-responsive ul li i {
    font-size: 20pt;
}
.menu-slide {
    width: 1px;
    min-height: 100%;
    right: 0;
    top: 55px;
    transition: .5s;
    display: none;
    border: 1px solid rgb(178, 227, 182);
    background-color: rgb(255, 255, 255);
    position: fixed;
}
.menu-slide ul {
    padding-inline-start: 0px;
    /* list-style-type: disc; */
    list-style: none;
}
.sub-menu-slide li {
    font-size: 12pt !important;
    padding-inline: 10px;
}

.sub-menu-slide li:nth-child(1) {
    background-color: rgb(168, 232, 166);
    padding: 10px;
}
.sub-menu-slide li:nth-child(6) {
    background-color: rgb(168, 232, 166);
    padding: 10px;
}
.bg-silver {
    background: rgb(247, 247, 247);
}
.header-img {
    background-image: url("./kanji_farm.jpg");
    background-size: cover;
    /* background-position: center; */
    background-position: 0px -500px;
    width: 100%; 
    height:300px; 
    object-fit: cover;
    
}

@media only screen and (max-width: 700px) {
    header {
        height: 50px;
    }
    .container-header {
        height: 50px;
    }
    .header-title > img {
        width: 40px;
        height: 40px;
    }
    .header-menu {
        display: none;
    }
    .header-menu-responsive {
        display: flex;
        align-items: center;
    }
    .menu-slide {
        display: block !important;

    }
    .header-title {
        display: flex;
        align-items: center;
    }
    .container-shop-highlight {
        grid-template-columns: 1fr;
    }
    .container-shop-highlight > .shop-highlight
    {
        padding: 10px;
    }
    .container-product {
        grid-template-columns: 1fr;
    }
    .table {
        width: 500px !important;
    }
    .container-alliance {
        grid-template-columns: 1fr !important;
    }
    footer > .container-footer {
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 20px;
        min-height: 200px;
    }
    footer {
        min-height: 200px !important;
    } 
    .header-img {
        background-image: url("./kanji_farm.jpg");
        background-position: center;
    }
    .container-shopping-product {
        /* display: ; */
        grid-template-columns: 1fr;
        min-height: 100vh;
    }
    .grid-3 {
        grid-template-columns: 1fr;
        width: 100% !important;
    }
    .container-shopping-product > .col-shopping-1 > .list-preview {
        width: 50% !important;
        overflow: auto;
        display: none;   
    }
    .container-shopping-product > .col-shopping-1  {
            
    }
    .sub-text {
        width: 100% !important;
    }
    .article.shopping > .tabbar-detail {
        width: 100% !important;
    }
    article.container-checkout-cart {
        width: 90%;
        grid-template-columns: 1fr;
        overflow: auto;
    }
    .article.container-checkout-cart > .list-cart {
        height: fit-content !important;
    }
  }